#trait-container {
    margin-top: 20px;
    align-items: baseline;
}

.trait-group {
    margin: 10px 40px;

    input {
        margin: 7px 5px;
    }

    img {
        height: 100px;
        margin: 5px 0px;
    }

}