
#breed-results-container {
    width: 950px;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#most-compatible-breed-container {
    grid-template-columns: 1 / 2;
    width: 400px;
    height: 500px;
    /* border: 1px solid black; */
}

#most-compatible-breed-name {
    color: #ee6c4dff;
    margin: 5px 0px;
    text-transform: uppercase;
}

#most-compatible-image {
    width: 300px;
}

#most-compatible-breed-group {
    font-size: 14px;
    margin: 5px 10px;
}

#most-compatible-life-span {
    font-size: 14px;
    margin: 5px 10px;
}

#most-compatible-temp {
    font-size: 12px;

}

.runner-up-specs {
    grid-template-columns: 2 / span end;
    margin-top: auto;
    margin-bottom: auto;

    p{
        margin: 2px;
        font-size: 12px;
    }
}

.runner-up-name {
    font-size: 16px;
    font-weight: 800;
    color: #ee6c4dff;
    text-transform: uppercase;
    margin: 2px 0px;
}

.runner-up-breed-images {
    height: 100%;
    grid-template-columns: 1 / 2;
    grid-template-rows: 1 / span end;
}

.runner-up-temp {
    font-size: 12px;
    font-weight: 600;
    margin: 2px;
    grid-template-columns: 2 /span end;
    grid-template-rows: 3 / span end;
}