:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(255, 255, 255);

  --yinmn-blue: #3d5a80ff;
  --powder-blue: #98c1d9ff;
  --light-cyan: #e0fbfcff;
  --burnt-sienna: #ee6c4dff;
  --gunmetal: #293241ff;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h4 {
  color: rgb(94, 94, 99);
}

a {
  text-decoration: none;
  color: var(--yinmn-blue);
}

a:hover {
  color: var(--burnt-sienna);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.input-box {
  width: 500px;
  height: 40px;
  text-align: center;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid var(--powder-blue);
}

.narrow-input {
  width: 150px;
}

.input-box:focus {
  background-color: var(--light-cyan);
  outline: none;
}

.border-rad {
  border-radius: 10px;
}

/* placement */
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center-x-axis {
  margin-left: auto;
  margin-right: auto;
}

.yes-no-inputs {
  margin-top: 5px;
  justify-content: center;

  input {
    margin: 0 50px;
  }
  
}
.question-container {
  margin: 15px 0px;
}

.question {
  font-weight: 600;   
  font-size: 14px;
  color: #ee6c4dff;
}

