#results-container{
    padding-top: 5px;
}

#runner-up-right-side {
    grid-template-columns: 2 / span end;
}

#others-notice {
    margin: 5px;
}

.breed-container {
    margin: 5px 10px;
    display: grid;
    /* grid-template-columns: 1fr 3fr; */
    width: 400px;
    height: 100px;
    background-color: rgb(245, 245, 245);
}


#breed-results-container {
    width: 950px;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#most-compatible-breed-container {
    grid-template-columns: 1 / 2;
    width: 450px;
    height: 500px;
    /* background-color: #e0fbfcff; */
}

#most-compatible-breed-name {
    color: #ee6c4dff;
    margin: 5px 0px;
    text-transform: uppercase;
}

#most-compatible-image {
    width: 400px;
}

#most-compatible-breed-group {
    font-size: 18px;
    margin: 5px 10px;
}

#most-compatible-life-span {
    font-size: 18px;
    margin: 5px 10px;
}

#most-compatible-temp {
    font-size: 12px;
}

.runner-up-specs {
    grid-template-columns: 2 / span end;
    margin-top: auto;
    margin-bottom: auto;

    p{
        margin: 2px;
        font-size: 12px;
    }
}

.runner-up-name {
    font-size: 16px;
    font-weight: 800;
    color: #ee6c4dff;
    text-transform: uppercase;
    margin: 2px 0px;
}

.runner-up-breed-images {
    height: 100px;
    grid-template-columns: 1 / 2;
    grid-template-rows: 1 / span end;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.runner-up-temp {
    font-size: 12px;
    font-weight: 600;
    margin: 2px;
    grid-template-columns: 2 /span end;
    grid-template-rows: 3 / span end;
}